{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-10 col-md-5 left">left col</div>
        <div class="col col-10 col-md-5 right">right col</div>

    </div>
{% endblock %}
