{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!
{% endblock %}

{% block body %}
{% block stylesheets %}{% endblock %}
<div class="example-wrapper">
    <table class="table position-relative">
        <div class="button d-flex justify-content-around m-2">
            <a href="javascript:ajouter()" class="buttonadd">Ajouter</a>
            <a href="javascript:afficher()" class="buttonshow">Afficher</a>
            <a href="javascript:modifier()" class="buttonmodify">Modifier</a>
            <a href="javascript:supprimer()" class="buttondelete">Supprimer</a>
        </div>
        <thead>
            <tr class=" position-sticky">
                <th></th>
                <th>LIBELLE</th>
                <th>URL</th>
                <th>ICON</th>
                <th>ROLE</th>
            </tr>
        </thead>


        <tbody id="tbody_menu">
            {{menu|raw}}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5" class="text-center">Total:</th>
            </tr>
        </tfoot>
    </table>
</div>
{% block script %}
<script>
        const afficher = () => {
            const id = getIdChecked('check');
            if (id == 0) {
                alert('please select the menu to show');
            } else {
                const url = "{{path('app_menu_show',{'id':'id'})}}";
                const newUrl = url.replace('id', id);
                document.location.href = newUrl;
            }
        }
</script>
{% endblock %}

{% endblock %}