{{ form_start(form) }}
{{ form_widget(form) }}
<<<<<<< HEAD

<input type="submit" value="submit">
=======
<button type="submit" class="btn btn-primary">Submit</button>

>>>>>>> origin/new
{{ form_end(form) }}
